

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    display: flex;
    justify-content: center;
    justify-self: center;
    text-align: center;
    background: linear-gradient(90deg, rgb(12, 131, 42), rgb(1,1,1));
}

.card {
    background-color: rgb(62, 252, 93);
    max-width: 420px;
    padding: 18px;
    box-shadow: 1px 5px 5px;
    border-radius: 12px;
}

input {
    width: 93%;
    padding: 10px;
    margin-top: 8px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
}
.saida {
    margin-top: 12px;
    font-weight: 600;
}